[package]
name = "cubeb-core"
version = "0.5.3"
authors = ["Dan Glastonbury <dglastonbury@mozilla.com>"]
license = "ISC"
keywords = ["cubeb"]
repository = "https://github.com/djg/cubeb-rs"
homepage = "https://github.com/djg/cubeb-rs"
description = """
Common types and definitions for cubeb rust and C bindings. Not intended for direct use.
"""
categories = ["api-bindings"]

[badges]
circle-ci = { repository = "djg/cubeb-rs" }

[features]
gecko-in-tree = ["cubeb-sys/gecko-in-tree"]

[dependencies]
bitflags = "1.0"
cubeb-sys = { path = "../cubeb-sys", version = "0.5.3" }
